{%extends 'base.html'%} {% load staticfiles %} {% block title%}PSA{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
<script src="{% static 'js/upload.js' %}"></script>

<header id="header">
  <div class="mainIconContainer">
    <img src="https://res.cloudinary.com/dffifnsyc/image/upload/v1530720189/logo_main.png" alt="">
  </div>
  <div class="goUploadContainer">
    Analyse
    <span class="fa fa-chevron-down"></span>
  </div>
</header>
<section id="upload">
 {% include 'uploadfile_form.html' %}
 {% include 'ready.html' %}
</section>
{% endblock %}